%td.panel
  .panelHeaderRight
  .panelHeaderLeft
  .panelHeader
    %span.panelTitle BUNDLES (#{@project.bundles.count})

  - @project.bundles.each do |b|
    .collapsed-feature
      %span.feature_name
      = link_to b.name, project_bundle_path(@project, b)
      .operations
      .status-tags
        #{b.estimates_total} pts
  .operations
    = link_to 'New Bundle', new_project_bundle_path(:project_id => @project.id)
