/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
body {
  font-size: 18px;
  line-height: 1.2em;
  margin: 0;
}

#header {
  padding: 0 14px 0 20px;
  overflow: visible;
  position: relative;
  z-index: 12;
  height: 45px;
  background: #256841;
  color: white;
}

#header h1 {
  float: left;
  width: 226px;
  height: 25px;
  margin-top: 11px;
  margin-bottom: 0;
  padding: 0;
}

#header a {
  color: white;
}

#controlPanel {
  height: 69px;
  border-top: 2px solid #BBB;
  margin-bottom: 11px;
  min-width: 930px;
  background: url(/assets/control_panel.png) repeat-x left bottom;
}

#controlPanel #project_name_row {
  padding: 5px 20px 0 19px;
  overflow: hidden;
}

#header .project-link {
  float: right;
  margin: 10px 0 0 20px;
}

ul li {
  list-style: none;
}
.clear {
  clear: both;
}

table.layout{
  width: 100%;
}
div.bundle-header header {
  font-size: 1.5em;
  font-weight: bold;
}
div.bundle-header header span.desc {
  color: #ddd;
}
div.bundle-header header div.action-links {
  margin-top: 5px;
  font-size: 0.65em;
  text-decoration: none;
  color: #aaa;
}
div.bundle-details > div {
  margin: 40px 10px 10px;
  padding:0;
  border-radius: 3px;
  background-color: #eee;
  width: 300px;
  float: left;
}
div.bundle-details > div ul {
  margin: 10px 5px;
  padding: 0;
  overflow-y: auto;
  max-height: 500px;
}
div.bundle-details > div ul li form {
  float: left;
  display: inline;
  margin-right: 5px;
}

div.bundle-details > div header {
  display: inline;
  position: relative;
  top: -1.1em;
  left: 15px;
  font-size: 1.2em;
  background-color: #ddd;
  color: #666;
  padding: 5px;
  border-radius: 4px;
}

#controlPanel #panelList {
  padding: 0px 20px 0 19px;
  margin-top: 3px;
}
ul#buttonPanel ul#panelList {
  float: left;
  border-right: 1px solid #CCC;
  padding-right: 5px;
}

#controlPanel #controls ul#buttonPanel a.button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  color: #999;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  height: 22px;
  line-height: 23px;
  padding: 0 6px;
}