/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

 /*adjusts margin for feature rows in bundle page*/

.custom_panel {
  display: inline-block;
  width: 25px;
}

.new_form_dropdown {
  background-color: #256841;
  color: white;
  display: none;
}

.new_form_dropdown textarea {
  resize: none;
}

.new_form_dropdown label {
  float: left;
}

.new_feature_toggle {
  position: absolute;
  top: 8px;
  right: 0;
}