= simple_format feature.description
.floatButton
  = link_to 'Destroy', project_feature_path(feature.project,feature), :confirm => 'Are you sure?', :method => :delete
  = render partial: 'bundles/remove_feature_button', locals: {feature: feature}